html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  padding: 25px 50px 25px 60px;
  text-align: left;
  font-family: "Papyrus", "Courier New", monospace;
  font-size: 40px;
  background-image: linear-gradient(
    to bottom right,
    #e4a7e7,
    #95f0a0,
    #d29880,
    rgb(119, 176, 232)
  );
}

div {
  width: 25%;
  height: 100%;
  float: left;
}

ul {
  list-style-type: circle;
  text-align: justify;
}

#spring {
  background-image: url("images/spring.jpeg");
  background-size: cover;
  opacity: 0.5;
}
#spring:hover {
  opacity: 1;
}

#summer {
  background-image: url("images/summer.jpeg");
  background-size: cover;
  opacity: 0.5;
}
#summer:hover {
  opacity: 1;
}

#fall {
  background-image: url("images/fall.jpeg");
  background-size: cover;
  opacity: 0.5;
}
#fall:hover {
  opacity: 1;
}

#winter {
  background-image: url("images/winter.jpeg");
  background-size: cover;
  opacity: 0.5;
}
#winter:hover {
  opacity: 1;
}

.section {
  color: rgb(255, 255, 255);
  background: #000000;
  font-weight: normal;
  font-family: "Verdana", "Courier New", monospace;
  font-size: 18px;
  font-weight: 550;
  line-height: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  position: static;
  width: 93%;
}

.content {
  height: 25%;
  padding-top: 5%;
  background: #000000;
  text-align: center;
  position: static;
  width: 8%;
  transition: height 0.5s;
  overflow: hidden;
}
.content:hover {
  height: 60%;
  padding-top: 10%;
  background: #000000;
  text-align: center;
  position: static;
  width: 93%;
  overflow: hidden;
}
.content:hover .expand-label {
  display: none;
}
.content:hover #expand-content {
  visibility: visible;
}

.link {
  color: rgb(255, 255, 255);
  font-family: "Verdana", "Courier New", monospace;
  font-size: 17px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  position: static;
  text-decoration: none;
  visibility: hidden;

  cursor: pointer;
}
.link:hover {
  color: rgb(245, 210, 103);
  font-size: 22px;
  font-weight: 600;
}

.text {
  color: rgb(255, 255, 255);
  font-family: "Verdana", "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-align: center;
  position: static;
  padding: 10%;
  visibility: hidden;
}

.expand-label {
  color: rgb(255, 255, 255);
  font-family: "Verdana", "Courier New", monospace;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f1d4b3;
  display: block;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;

  animation-name: zoom;
  animation-duration: 0.6s;

  padding-bottom: 5%;

  overflow: auto;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.reading-response {
  font-family: "Verdana", "Courier New", monospace;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.reading-link {
  color: #000;
  text-decoration: none;
}
.reading-link:hover {
  color: rgb(150, 75, 0);
  font-weight: 600;
  font-size: larger;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
